<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>WAMDemo</string>
			<key>factoryFunction</key>
			<string>WAMDemo_Factory</string>
			<key>manufacturer</key>
			<string>Acme</string>
			<key>name</key>
			<string>TomPower: WAMDemo</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>Gs0s</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>256</integer>
		</dict>
	</array>
	<key>AudioUnit Version</key>
	<string>0x00000100</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WAMDemo</string>
	<key>CFBundleGetInfoString</key>
	<string>WAMDemo v0.1.0 Copyright 2024 Acme Inc</string>
	<key>CFBundleIdentifier</key>
	<string>com.TomPower.audiounit.WAMDemo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WAMDemo</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSignature</key>
	<string>Gs0s</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
	<key>NSPrincipalClass</key>
	<string>WAMDemo_View</string>
</dict>
</plist>
